<h1>Ваш заказ: <%= content_tag :span, @cart.total_price, class: 'total-price', id: 'total-price' %>Р *</h1>
<span class="price-comment">* при заказе от 500 рублей доставка бесплатная!</span>
<!--&#8399;-->

<%= render "cart/empty_cart" %>
<%= render "cart/cart_items", order_items: @cart.items unless @cart.products_count == 0 %>

<%= content_tag :h2, "Доставка и оплата" %>
<p>
  <%= render "orders/cart_form" %>
</p>

