<table class="my-cart">
  <tbody>
  <% order_items.each_with_index do |cart_item, i| %>
      <tr>
        <td class="index"><%= 1+i %></td>
        <td class="name"><%= cart_item.product.name %></td>
        <td class="comment"><%= ProductSize.by_code(cart_item.product_size) %></td>
        <td class="count"><%= cart_item.product_count %>х</td>
        <td class="price"><%= cart_item.price %>.00</td>
      </tr>
  <% end %>
  </tbody>
</table>
