<%= form_for(@order) do |f| %>
    <%= f.hidden_field :order_status_id, value: 3 %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <br>
      <%= f.text_field :phone %>
    </div>
    <div class="field no-margin-right">
      <%= f.label :address %>
      <br>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :summ_price %>
      <br>
      <%= f.text_field :summ_price %>
    </div>
    <div class="field">
      <%= f.label :cash_from %>
      <br>
      <%= f.number_field :cash_from %>
    </div>
    <div class="field no-margin-right">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email %>
    </div>

    <div class="clear"></div>

    <div id="map" class="field"></div>

    <div class="field">
      <%= f.label :comment %>
      <br>
      <%= f.text_area :comment %>
    </div>

    <div class="clear"></div>

    <div class="actions">
      <span class="print-check" onclick="window.print();">Печать чека</span>
      <%= f.submit "Сохранить" %>
    </div>
<% end %>
