<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%#= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Cash from:</strong>
  <%= @order.cash_from %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @order.comment %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status_id %>
</p>