<div class="menu-item pizza">
  <%= image_tag pizza.photo_url || "pizza.png", alt: "#{Category.by_code(pizza.category_id)} - #{pizza.name}", title: "#{Category.by_code(pizza.category_id)} - #{pizza.name}" %>
  <%= content_tag :h3, pizza.name %>
  <%= content_tag :p, pizza.description %>
  <% if can?(:manage, pizza) %>
      <%= link_to "Изменить", edit_product_path(pizza) %> / <%= link_to 'Удалить', pizza, method: :delete, data: {confirm: 'Удаляем?'} %>
  <% end %>

  <div class="order-button">
    <span class="price" onclick="addProduct('<%= add_to_cart_path(pizza.id, 1) %>');" title="Стандартная пицца 30 см, 450 гр">Заказать за <%= pizza.price_classic %></span> / <span class="price price-big" onclick="addProduct('<%= add_to_cart_path(pizza.id, 2) %>');"  title="Большая пицца 45 см, 700 гр"><%= pizza.price_big %> Р</span>
    <!--&#8399;-->
  </div>
</div>