<div class="menu-item product">
  <%= image_tag product.photo_url || "salad.png" %>
  <%= content_tag :h3, product.name %>
  <%= content_tag :p, product.description %>
  <% if can?(:manage, product) %>
      <%= link_to "Изменить", edit_product_path(product) %> / <%= link_to 'Удалить', product, method: :delete, data: {confirm: 'Удаляем?'} %>
  <% end %>

  <div class="order-button" onclick="addProduct('<%= add_to_cart_path(product.id, 0) %>');">
    Заказать за <span class="price"><%= product.price %> &#8399;</span>
  </div>

</div>