<div class="menu-item product">
  <%= image_tag product.photo_url || "salad.png", alt: "#{Category.by_code(product.category_id)} - #{product.name}", title: "#{Category.by_code(product.category_id)} - #{product.name}" %>
  <%= content_tag :h3, product.name %>
  <%= content_tag :p, product.description %>
  <% if can?(:manage, product) %>
      <%= link_to "Изменить", edit_product_path(product) %> / <%= link_to 'Удалить', product, method: :delete, data: {confirm: 'Удаляем?'} %>
  <% end %>

  <div class="order-button" onclick="addProduct('<%= add_to_cart_path(product.id, 0) %>');">
    <span class="price"  title="<%= product.name %>">Заказать за <%= product.price %> Р</span>
    <!--&#8399;-->
  </div>

</div>