<header>
  <div class="left-menu">
    <%= render "layouts/static_menu" %>
    <%= render "layouts/categories_menu" %>
  </div>
  <div class="logo">
    <%= link_to image_tag("logo.png", alt: "Pizza Brothers - доставка пиццы, роллов, суши в Зеленограде и Солнечногорске", title: "Pizza Brothers - доставка пиццы, роллов, суши в Зеленограде и Солнечногорске"), root_path %>
  </div>
  <div class="right-menu">
    <%= content_tag :span, t("check_phone"), class: :phone, title: "Заказ по телефону" %>
    <%= render "layouts/cart" %><br/><br/>
    <%= link_to "Мой рецепт!", my_pizza_path, class: "pizza-builder-link", title: "Составь свою пиццу в конструкторе Pizza Brothers!" %>
  </div>
  <div class="clear"></div>
</header>